@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

.hit {
    background: url(../images/icon_title.png) -22px 0 no-repeat;
    width: 2px;
    height: 10px;
    float: right;
    color: #900;
    margin: 0 18px 0 0;
    padding: 0 0 0 18px;
    font-weight: normal;
    font-size: 11px
}